*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* propiedades del contenedor*/

.contenedor{
    display: grid;
 
    /*para crear columnas*/
    grid-template-columns:150px 250px;
    /*propiedades de los items*/
    grid-template-rows: 150px 250px ;    
}


.hijo-uno{
    background-color: blue;
}

.hijo-dos{
    background-color: red;
}

.hijo-tres{
    background-color: yellow;
}

.hijo-cuatro{
    background-color: green;
}

